.listing {
    list-style: none;
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-gap: .8vw;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 400px));
}

.listing li {
    border: 1px solid #667dff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.listing img.episode {
    width: 90%;
}

.star {
    width: 15%;
    transition: transform .3s;
}
.star:hover {
    transform: scale(130%);
}
.not-favorit {
    filter: grayscale(100%);
}

.loading-img {
    display: grid;
    place-items: center;
    grid-column: 3;
}

.summary{
    height: 10%;
    overflow: hidden;
    transition: height .3s;
}
.summary:hover{
    height: 30%;
    overflow: scroll;
}